/* =========================
   Simulation View
   WarehouseSVG가 들어가는 부모 영역
========================= */

.simulation-view {
    width: 100%;
    height: 650px;

    min-width: 0;

    display: flex;

    box-sizing: border-box;
}

